@charset 'UTF-8';
@import url('../fonts/font.css');

/***
* Main Style
**/
body {
	font-family: 'Dauphin', Verdana, Arial, Helvetica, Sans-serif, Serif;
	background-image: url('../images/weather.png');
}

#wrapper {
	width: 100%;
	height: 100%;
}

/***
* Header Part Style
**/
.site-heading {
	text-align: center;
}

.site-heading h1 {
	color: darksalmon;
	font-size: 3em;
	padding-top: 2em;
}

.site-heading h3 {
	color: #666;
	font-size: 1.5em;
	margin-top: -18px;
}

/***
* Log In Form Style
**/
section#user_login { margin-top: 1em; }

#login_box {
	width: 50%;
	margin: 0 auto;
	padding: 2em;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 8px;
	-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

#login_box h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	color: lightsalmon;
	letter-spacing: 1px;
	margin-top: 0;
	font-family: 'Dosis-Regular' !important;
}

#login_box hr {
	border-color: rgba(0, 0, 0, 0.25);
	width: 85%;
	margin-bottom: 2.5em;
}

#login-form {
	width: 85%;
	margin: 0 auto;
}

#btn-login { font-size: 1.15em; }